<h3>
  Paises...
</h3>

<hr>

<ul class="list-group">

  <!-- <li
  routerLinkActive="active"
  routerLink=""
  [routerLinkActiveOptions]=" {exact: true }"
  class="list-group-item">
    home Page
  </li>

  <li
  routerLinkActive="active"
  routerLink="about"
  class="list-group-item">
    About Page
  </li>

  <li
  routerLinkActive="active"
  routerLink="contact"
  class="list-group-item">
    contact Page
  </li> -->

  <li
  routerLinkActive="active"
  routerLink="countries/by-capital"
  class="list-group-item">
    Por capital
  </li>

  <li
  routerLinkActive="active"
  routerLink="countries/by-country"
  class="list-group-item">
    Por country
  </li>

  <li
  routerLinkActive="active"
  routerLink="countries/by-region"
  class="list-group-item">
    Por region
  </li>

</ul>
